
  <h1>Shoe Tracker</h1>
 
  <hr>

    <h4>View Stores </h4>
   
    
        <h4>Stores</h4>

        <% if @stores.any? %>
          <ul>
            <% @stores.each { |store| %>
              <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
            <% } %>
          </ul>
        <% else %>
          <p>Sorry!!!There are currently no shoe stores<p>
        <% end %>

        <form action="/stores/new" method="post">
          <label for="name">Store name</label>
          <input id="name" name="name" type="text">
          <br>
          <button type="submit">Add Store</button>
        </form>
     
   
 


   
      

